.animal-card {
    animation: 0.85s ease animateIn backwards;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1 0;
    transition: all 0.5s ease;
    width: 100%;

    &::before {
        content: '';
        display: block;
        height: 0;
        pointer-events: none;
    }
}

.animal-card--is-active {
    flex: 1 700px;
    margin: 0 0.125rem;
    transition: all 0.125s ease;
}

@keyframes animateIn {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(3) translateY(-16px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}
