.animals {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.animals__cards-container {
    align-items: stretch;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

@keyframes card-entrance-in {
    0% {
        transform: scale(0) translateY(-50px);
    }

    15% {
        transform: scale(1) translateY(0);
    }

    85% {
        transform: scale(0) translateY(-50px);
    }
}
