:root {
    --active-width: 600px;
}

.animal-card {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0;

    transition: flex 0.85s ease;
    width: 100%;

    &::before {
        content: '';
        display: block;
        height: 0;
        pointer-events: none;
    }
}

.animal-card--is-loading {
    animation: 0.85s ease animateIn backwards;
}

.animal-card--is-active {
    animation: 0.3s ease activeBounce infinite;
    animation-delay: 0;
    flex: 0 1 var(--active-width);
    margin: 0 0.25rem;
    transition: flex 0.075s ease-in;
}

@keyframes animateIn {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(3) translateY(-16px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

@keyframes activeBounce {
    16% {
        transform: scaleX(1.03);
    }

    53% {
        transform: scaleX(1.3);
    }

    66% {
        transform: scaleX(0.96);
    }

    72% {
        transform: scaleX(1.04);
    }

    83% {
        transform: scaleX(0.98);
    }

    90% {
        transform: scaleX(1.02);
    }

    100% {
        transform: scaleX(1);
    }
}
