.control-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.control-bar__keyboard-input {
    overflow: hidden;
    position: absolute;
    top: -200px;
    width: 0;
}
