// Keep in this order
@import '/base/normalize.scss';
@import '/base/reset.scss';
@import '/base/config.scss';
@import '/base/base.scss';

// Order alphabetically
@import '/components/animal-card.scss';
@import '/components/animals.scss';
@import '/components/container.scss';
@import '/components/control-bar.scss';
@import '/components/site.scss';
