html,
body,
#root {
    height: 100%;
}

body {
    background-color: $color_background;
    color: $color_text;
    font-family: $font-family__regular;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
kbd {
    font-family: $font-family__heading;
    font-size: $font-size__16;
    font-weight: 500;
    line-height: 1.4;
}

p {
    font-size: $font-size__16;
    line-height: 1.4;
}

img {
    width: 100%;
}

// Footer
.footer {
    p {
        margin-bottom: 0;
    }
}
