// $breakpoints
// Mobile first: Ordered from smallest to largest
$breakpoint__01: 37.5rem;
$breakpoint__02: 68rem;

// Colors
$color__black: #1b1a18;
$color__light-tan: #f0ede7;
$color__tan: #e9e5dc;
$color__dark-tan: #dbd4c2;
$color__white: #fff;

// Type
$font-family__heading: monospace;
$font-family__regular: monospace;

$font-size__14: 0.875rem;
$font-size__16: 1rem;
