// $breakpoints
// Mobile first: Ordered from smallest to largest
$breakpoint__01: 37.5rem;
$breakpoint__02: 68rem;

// Colors
$color_black: #0e1216;
$color_white: #fff;

$color_tan-1: #f7f5f3;
$color_tan-2: #eeece7;
$color_tan-3: #e4e0d8;
$color_tan-4: #d7d1c6;

// UI Colors
$color_background: $color_tan-1;
$color_text: $color_black;

// Type
$font-family__heading: monospace;
$font-family__regular: monospace;

$font-size__14: 0.875rem;
$font-size__16: 1rem;
