// $breakpoints
$breakpoint__small: 37.5rem;
$breakpoint__med: 62.5rem;
$breakpoint__large: 93.75rem;

// Colors
$color__black: #0a0a0a;
$color__light-tan: #f0ede7;
$color__dark-tan: #e7e2d6;
$color__white: #fff;

// Type
$font-family__heading: monospace;
$font-family__regular: monospace;

$font-size__14: 0.875rem;
